<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input label="Badge count" [clearInput]="true" type="number" [min]="0" [max]="9999" [(ngModel)]="badgeCount"></ion-input>
  <ion-button color="primary" expand="block" (click)="updateBadgeCount()">Update Badge</ion-button>

</ion-content>
