<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Components</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" routerLink="/tabs/tab2">Go to Tab 2</ion-button>

  <ion-button id="present-alert">Click Me</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Please enter your info"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>

  <ion-list>
    <ion-item>
      <ion-select label="Fruit" interface="popover" placeholder="Select fruit" label-placement="floating">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
