<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pokemon
    </ion-title>
    <ion-progress-bar type="indeterminate" [hidden]="!isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokemon</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-list>
      <ion-searchbar name="searchBar" (ionInput)="filterItems($event)" [debounce]="300"></ion-searchbar>
      <ion-item *ngFor="let pokemon of filteredList" [routerLink]="'./detail/' + pokemon.name" lines="full" detail>
        <h2>{{ pokemon.name | titlecase }}</h2>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
